# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Ambiente virtual
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# Variáveis de ambiente / segredos locais
.env

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
